# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Build files
.Python
build/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Translations
*.mo
*.pot

# PyBuilder
target/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# py.test files
.cache
.pytest_cache

### C++ part ###

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### IDE part ###
.idea
cmake-build-debug/

# Vim files
*.swp

# Temporary files from regression tests. Used for debugging purposes only.
*.ll
*.smt2
*.pdf

# All files in kernel_modules from diffkabi - they are not used in the test
# compilation at all
tests/regression/diffkabi/kernel_modules

# All files in kernel_modules from diffsysctl - they are not used in the test
# compilation at all
tests/regression/diffsysctl/kernel_modules

# Kernel sources directory
kernel/
