name: Builds

on: [push, pull_request]
env:
  llvm: 20

jobs:
  nix-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@v10
      - name: Build using nix
        run: nix build
      - name: Run built Diffkemp
        run: nix develop --command result/bin/diffkemp --help

  local-build:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        include:
          - build-type: release
            diffkemp-bin: diffkemp
            build-dir: build
          - build-type: development
            diffkemp-bin: build/bin/diffkemp
            build-dir: build
          # Development build with custom build directory and disabled CFFI
          - build-type: development
            diffkemp-bin: my-build-dir/bin/diffkemp
            build-dir: my-build-dir
            compare-options: --disable-simpll-ffi
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install cmake ninja-build libgtest-dev python3-cffi virtualenv
      - name: Install LLVM
        run: |
          wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
          sudo add-apt-repository "deb http://apt.llvm.org/jammy/ llvm-toolchain-jammy-${{ env.llvm }} main"
          sudo apt update
          sudo apt install llvm-${{ env.llvm }}-dev clang-${{ env.llvm }}
          echo "/usr/lib/llvm-${{ env.llvm }}/bin" >> $GITHUB_PATH
      - name: Release build and install of DiffKemp
        if: ${{ matrix.build-type == 'release' }}
        run: |
          cmake -S . -B ${{ matrix.build-dir }} -GNinja -DCMAKE_BUILD_TYPE=Release
          sudo ninja -C ${{ matrix.build-dir }} install
          virtualenv -p python3 venv
          source venv/bin/activate
          pip install .
          pip install .[dev]
      - name: Development build of DiffKemp
        if: ${{ matrix.build-type == 'development' }}
        run: |
          cmake -S . -B ${{ matrix.build-dir }} -GNinja -DCMAKE_BUILD_TYPE=Debug
          sudo ninja -C ${{ matrix.build-dir }}
          virtualenv -p python3 venv
          source venv/bin/activate
          # Installing dependencies
          SIMPLL_BUILD_DIR="${{matrix.build-dir}}" pip install .
          pip uninstall -y diffkemp
      - name: Check by building and comparing make-based project
        run: |
          source venv/bin/activate
          ${{matrix.diffkemp-bin}} build tests/testing_projects/make_based/ old-snapshot
          ${{matrix.diffkemp-bin}} build tests/testing_projects/make_based/ new-snapshot
          ${{matrix.diffkemp-bin}} compare ${{matrix.compare-options}} old-snapshot new-snapshot

  nix-development-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@v10
      - name: Build DiffKemp
        run: >
          nix develop . --command bash -c "
           cmake -S . -B build -GNinja -DCMAKE_BUILD_TYPE=Debug &&
           ninja -C build"
      - name: Check by building and comparing make-based project
        run: >
          nix develop . --command bash -c
          "build/bin/diffkemp build tests/testing_projects/make_based/ old-snapshot &&
           build/bin/diffkemp build tests/testing_projects/make_based/ new-snapshot &&
           build/bin/diffkemp compare old-snapshot new-snapshot"

  cc-wrapper-build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Pip3 backup
        run: python3 -m pip install pip -U
      - name: RPython installation
        run: |
          sudo apt install python2 python-pip
          python2 -m pip install rpython
      - name: Build cc-wrapper to binary
        run: python2 -m rpython ${{ github.workspace }}/diffkemp/building/cc_wrapper/cc_wrapper.py
